<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Selenium Regression Test" junit="true">
    <classes>
      <class name = "com.bredit.regression.RegressionHomeTest"/>
      <class name = "com.bredit.regression.RegressionLoginTest"/>
      <class name = "com.bredit.regression.RegressionRegistrationTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Selenium Cucumber Test">
    <classes>
      <class name = "com.bredit.testRunner.HomeBDDTest"/>
      <class name = "com.bredit.testRunner.LoginBDDTest"/>
      <class name = "com.bredit.testRunner.RegistrationBDDTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
